<head>
    <title>TechR2 Hard Drive Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
    </style>
    <script src="../static/functions.js">

    </script>
    <script type="text/javascript">
        text_read = 
    </script>
</head>

<body>
    <div class="title"> 
        <h2>KeepReading</h2>
    </div>
    <div class="wrapper">

        <!-- camera container and captrue button-->
        <div class="camera-container">
            <div class="placeholder">
                <img src="../static/assets/capture.jpg" class="viewfinder" id="frame">
            </div>
            <div class="button-container">
                <button style="font-size:24px">Audio Control<i class="fa fa-microphone"></i></button>
                <form action="/">
                    <button class="button" type="submit">Reset</button>
                </form>
            </div>
        </div>

        <!-- model version container -->
        <div class="model-container">
            <div>Current Version</div>
            <div><button id="button-history">Version History</button></div>
        </div>

        <!-- label information container -->
        <div class="label-container">
            <div class="label">Label Info</div>
            <ul>
                <li>PID#: <span id="pid"></span></li>
                <li>S/N: <span id="serial"></span></li>
                <li>P/N: <span id="part"></span></li>
            </ul>
        
            <!-- button container, edit approve -->
            <div class="button-label-container">

                <div class="button-left"><button id="button-edit" type="submit">EDIT</button></div>
                <div class="button-right"><button id="button-approve" type="submit">APPROVE</button></div>

            </div>
        </div>


        <!-- text read container -->
        <div class="text-container">
            <div class="label">All Text Read</div>
            <div id="read-text">TEXT</div>
            <div id="confidence-lv">Confidence LV.</div>
            
        </div>
    </div>
    <script>
        prompt("1")
        var confidence_content= "{{confi_lv}}";
        var text_content = "{{text_read}}";
        console.log(confi_lv);
        console.log(text_read);

        var list_text = text_content
        prompt(text_content)

    </script>
</body>