<head>
    <title>TechR2 Hard Drive Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <script src="../static/functions.js"></script>
    <div class="title">
        <h2>KeepReading</h2>
    </div>
    <div class="wrapper">
        <div class="camera-container">
            <div class="placeholder">
                <img src="../static/assets/capture.jpg" class="viewfinder" id="frame">
            </div>
            <div class="button-container">
                <form action="/">
                    <button class="button" type="submit">Reset</button>
                </form>
            </div>
        </div>
        <div class="label-container">
            <div class="label">Label info</div>
            <ul>
                <li>PID#: <span id="pid"></span></li>
                <li>S/N: <span id="serial"></span></li>
                <li>P/N: <span id="part"></span></li>
            </ul>
        </div>
        <div class="sample-container">
            <div class="label">Other stuff</div>
        </div>
    </div>
</body>